# ===============================================
# Ficheiros de Build e Saídas do Maven/Java
# ===============================================
target/
*.jar
*.war
*.ear
*.zip
*.tar.gz
.m2/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties

# ===============================================
# Logs
# ===============================================
*.log
logs/
*.log.*

# ===============================================
# Ficheiros Específicos de IDEs
# ===============================================
.idea/
*.iml
*.iws
*.ipr
out/
atlassian-ide-plugin.xml
.classpath
.project
.settings/
bin/
.metadata/
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
.nb-gradle/
.vscode/

# ===============================================
# Ficheiros de Sistema Operacional
# ===============================================
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
ehthumbs.db
Desktop.ini

# ===============================================
# Ficheiros de Configuração Local e Sensíveis
# ===============================================
.env
.env.*
!/.env.example  # Permite um arquivo de exemplo, se você quiser criar um

# ===============================================
# Outros
# ===============================================
# Arquivos de crash da JVM
hs_err_pid*
replay_pid*